*~
*.o
*.elf
*.bin
*.list
*.swp
*.bak
*.png
benchmark
verify
time_test_byte_shift                 
time_test_binary_iteration  
time_test_harley
time_test_binary_recursive  
time_test_iteration
time_test_binary_search     
time_test_recursive

